<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acme.acmemall.dao.CapitalFlowMapper">
    <resultMap type="com.acme.acmemall.model.CapitalFlowVo" id="flowMap">
        <result property="id" column="id"/>
        <!--        flow_id-->
        <result property="flow_id" column="flow_id"/>
        <!--        order_id-->
        <result property="order_id" column="order_id"/>
        <!--        trade_type-->
        <result property="trade_type" column="trade_type"/>
        <!--        add_time-->
        <result property="add_time" column="add_time"/>
        <!--        status-->
        <result property="user_id" column="user_id"/>
        <!--        nick_name-->
        <result property="nick_name" column="nick_name"/>
        <!--        mobile-->
        <result property="mobile" column="mobile"/>
        <!--        trade_amount-->
        <result property="trade_amount" column="trade_amount"/>
        <!--        pay_type-->
        <result property="pay_type" column="pay_type"/>
        <!--        remark-->
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="queryList" resultMap="flowMap">
        SELECT
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        FROM t_acme_mall_capital_flow
        <where>
            <if test="order_id != null and order_id.trim() != ''">
                AND order_id = #{order_id}
            </if>
            <if test="trade_type != null ">
                AND trade_type = #{trade_type}
            </if>
            <if test="user_id != null and user_id > 0">
                AND user_id = #{user_id}
            </if>
            <if test="nick_name != null and nick_name.trim() != ''">
                AND nick_name = #{nickname}
            </if>
            <if test="mobile != null and mobile.trim() != ''">
                AND mobile = #{mobile}
            </if>
            <if test="add_time != null and add_time > 0">
                AND add_time > #{add_time}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryObject" resultMap="flowMap">
        select * from t_acme_mall_capital_flow where id = #{value}
    </select>

    <insert id="save" parameterType="com.acme.acmemall.model.CapitalFlowVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_acme_mall_capital_flow (flow_id, order_id, trade_type, add_time, user_id, nick_name, mobile,
        trade_amount, pay_type, remark)
        VALUES (#{flow_id}, #{order_id}, #{trade_type}, #{add_time}, #{user_id}, #{nick_name}, #{mobile},
        #{trade_amount}, #{pay_type}, #{remark})
    </insert>

    <update id="update" parameterType="com.acme.acmemall.model.CapitalFlowVo">
        UPDATE t_acme_mall_capital_flow
        <set>
            <if test="remark != null">`remark` = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM t_acme_mall_capital_flow WHERE id = #{id}
    </delete>

    <select id="getFlowByOrderId" resultMap="flowMap">
        SELECT id, flow_id, order_id, trade_type, add_time, user_id, nick_name, mobile, trade_amount, pay_type, remark
        FROM t_acme_mall_capital_flow
        WHERE order_id = #{order_id}
    </select>

    <select id="getFlowByUserId" resultMap="flowMap">
        SELECT id, flow_id, order_id, trade_type, add_time, user_id, nick_name, mobile, trade_amount, pay_type, remark
        FROM t_acme_mall_capital_flow
        WHERE user_id = #{user_id}
    </select>
</mapper>