<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.acmemall.dao.CommentMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.acme.acmemall.model.CommentVo" id="commentMap">
        <result property="id" column="id"/>
        <result property="type_id" column="type_id"/>
        <result property="value_id" column="value_id"/>
        <result property="content" column="content"/>
        <result property="add_time" column="add_time"/>
        <result property="status" column="status"/>
        <result property="user_id" column="user_id"/>
        <result property="order_id" column="order_id"/>
        <!--        reply_flag-->
        <result property="reply_flag" column="reply_flag"/>
        <result property="mer_reply_content" column="mer_reply_content"/>
        <result property="mer_reply_time" column="mer_reply_time"/>

        <result property="goods_name" column="goods_name"/>
        <result property="goods_spec" column="goods_spec"/>
        <result property="goods_pic" column="goods_pic"/>

        <result property="nick_name" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <!--        score-->
        <result property="score" column="score"/>
    </resultMap>

    <select id="queryObject" resultMap="commentMap">
        select * from t_acme_mall_comment where id = #{value}
    </select>

    <select id="queryList" resultMap="commentMap">
        select distinct c.* from t_acme_mall_comment c
        <if test="hasPic != null and hasPic == 1">
            left join t_acme_mall_comment_picture cp on cp.comment_id = c.id
        </if>

        <where>
            <!--            AND c.status = #{status}-->
            <if test="status != null and status != ''">
                and c.status = #{status}
            </if>
            <if test="reply_flag != null and reply_flag >=0">
                and c.reply_flag = #{reply_flag}
            </if>
            <if test="type_id != null and type_id != ''">
                and c.type_id = #{type_id}
            </if>
            <if test="value_id != null and value_id != ''">
                and c.value_id = #{value_id}
            </if>
            <if test="goods_id != null and goods_id != ''">
                and c.value_id = #{goods_id}
            </if>
            <if test="user_id != null and user_id != ''">
                and c.user_id = #{user_id}
            </if>
            <if test="hasPic != null and hasPic == 1">
                and cp.id is not null
            </if>
            <if test="add_time != null and add_time != ''">
                and c.add_time >= #{add_time}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(c.id) from t_acme_mall_comment c
        where 1= 1
        <if test="type_id != null and type_id != ''">
            and c.type_id = #{type_id}
        </if>
        <if test="value_id != null and value_id != ''">
            and c.value_id = #{value_id}
        </if>
        <if test="goods_id != null and goods_id != ''">
            and c.value_id = #{goods_id}
        </if>
        <if test="order_id != null and order_id != ''">
            and c.order_id = #{order_id}
        </if>
        <if test="user_id != null and user_id != ''">
            and c.user_id = #{user_id}
        </if>
        <if test="reply_flag != null and reply_flag != ''">
            and c.reply_flag = #{reply_flag}
        </if>
        <if test="add_time != null and add_time != ''">
            and c.add_time >= #{add_time}
        </if>
    </select>

    <select id="queryhasPicTotal" resultType="int">
        select count(distinct c.id) from t_acme_mall_comment c
        left join t_acme_mall_comment_picture cp on cp.comment_id = c.id
        where 1= 1 and cp.id > 0
        <if test="type_id != null and type_id != ''">
            and c.type_id = #{type_id}
        </if>
        <if test="value_id != null and value_id != ''">
            and c.value_id = #{value_id}
        </if>
    </select>

    <insert id="save" parameterType="com.acme.acmemall.model.CommentVo" useGeneratedKeys="true" keyProperty="id">
        insert into t_acme_mall_comment
        (
        `type_id`,
        `value_id`,
        `content`,
        `add_time`,
        `status`,
        `user_id`,
        `order_id`,
        `nickname`,
        `avatar`,
        `goods_name`,
        `goods_spec`,
        `goods_pic`,
        `score`
        )
        values
        (
        #{type_id},
        #{value_id},
        #{content},
        #{add_time},
        #{status},
        #{user_id},
        #{order_id},
        #{nickname},
        #{avatar},
        #{goods_name},
        #{goods_spec},
        #{goods_pic},
        #{score}
        )
    </insert>

    <update id="update" parameterType="com.acme.acmemall.model.CommentVo">
        update t_acme_mall_comment
        <set>
            <if test="type_id != null">`type_id` = #{type_id},</if>
            <if test="value_id != null">`value_id` = #{value_id},</if>
            <if test="content != null">`content` = #{content},</if>
            <if test="add_time != null">`add_time` = #{add_time},</if>
            <if test="status != null">`status` = #{status},</if>
            <!--            <if test="user_id != null">`user_id` = #{user_id},</if>-->
            <if test="mer_reply_content != null">`mer_reply_content` = #{mer_reply_content},</if>
            <if test="mer_reply_time != null">`mer_reply_time` = #{mer_reply_time},</if>
            <!--            reply_flag-->
            <if test="reply_flag != null">`reply_flag` = #{reply_flag}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from t_acme_mall_comment where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from t_acme_mall_comment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>