<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.acmemall.dao.GoodsIssueMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.acme.acmemall.model.GoodsIssueVo" id="goodsIssueMap">
        <result property="id" column="id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer"/>
        <result property="merchant_id" column="merchant_id"/>
        <result property="enabled" column="enabled"/>
    </resultMap>

    <select id="queryObject" resultMap="goodsIssueMap">
		select * from t_acme_mall_goods_issue where id = #{value}
	</select>

    <select id="queryList" resultMap="goodsIssueMap">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        from t_acme_mall_goods_issue
        <where>
            <if test="goods_id != null">
                and goods_id = #{goods_id}
            </if>
            <if test="merchant_id != null">
                and merchant_id = #{merchant_id}
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
		select count(*) from t_acme_mall_goods_issue 
	</select>

    <insert id="save" parameterType="com.acme.acmemall.model.GoodsIssueVo" useGeneratedKeys="true" keyProperty="id">
		insert into t_acme_mall_goods_issue
		(
			`goods_id`, 
			`question`, 
			`answer`
		)
		values
		(
			#{goods_id},
			#{question}, 
			#{answer}
		)
	</insert>

    <update id="update" parameterType="com.acme.acmemall.model.GoodsIssueVo">
        update t_acme_mall_goods_issue
        <set>
            <if test="goods_id != null">`goods_id` = #{goods_id},</if>
            <if test="question != null">`question` = #{question},</if>
            <if test="answer != null">`answer` = #{answer}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
		delete from t_acme_mall_goods_issue where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from t_acme_mall_goods_issue where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>