<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.acmemall.dao.ProductMaterialMapper">
    <!--    素材信息-->
    <resultMap type="com.acme.acmemall.model.ProductMaterialsVo" id="materialMap">
        <result property="id" column="id"/>
        <result property="FileID" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileType" column="file_type"/>
        <result property="fileUrl" column="file_url"/>
        <result property="size" column="file_size"/>
        <result property="tempFilePath" column="temp_file_path"/>
        <result property="userId" column="userId"/>
        <result property="uploadType" column="upload_type"/>
        <result property="uploadTime" column="upload_time"/>
        <result property="remark" column="remark"/>
        <result property="groupType" column="group_type"/>
    </resultMap>

    <select id="queryObject" resultMap="materialMap">
        select * from t_acme_mall_material where id = #{value}
    </select>

    <select id="queryList" resultMap="materialMap">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        from t_acme_mall_material

        <where>
            <if test="fileName != null and fileName !=''">
                and file_name=#{fileName}
            </if>
            <if test="groupType != null and groupType != ''">
                AND group_type=#{groupType}
            </if>
            <if test="materialIds != null">
                AND id in
                <foreach item="id" collection="materialIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>


        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <insert id="save" parameterType="com.acme.acmemall.model.ProductMaterialsVo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `t_acme_mall_material`
        (
        `file_id`,
        `file_name`,
        `file_path`,
        `file_type`,
        `file_url`,
        `file_size`,
        `temp_file_path`,
        `userId`,
        `upload_type`,
        `upload_time`,
        `remark`,
        `group_type`,
        `product_name`
        )
        VALUES
        (
        #{FileID},
        #{fileName},
        #{filePath},
        #{fileType},
        #{fileUrl},
        #{size},
        #{tempFilePath},
        #{userId},
        #{uploadType},
        #{uploadTime},
        #{remark},
        #{groupType},
        #{productName}
        )
    </insert>

    <insert id="saveBatch" parameterType="list">
        insert into t_acme_mall_material
        (
        `file_id`,
        `file_name`,
        `file_path`,
        `file_type`,
        `file_url`,
        `file_size`,
        `temp_file_path`,
        `userId`,
        `upload_type`,
        `upload_time`,
        `remark`,
        `group_type`,
        `product_name`
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.FileID},
            #{item.fileName},
            #{item.filePath},
            #{item.fileType},
            #{item.fileUrl},
            #{item.size},
            #{item.tempFilePath},
            #{item.userId},
            #{item.uploadType},
            #{item.uploadTime},
            #{item.remark},
            #{item.groupType},
            #{item.productName}
            )
        </foreach>
    </insert>

    <delete id="deleteBatch">
        delete from t_acme_mall_material where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>