<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.acmemall.dao.ShopCartMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.acme.acmemall.model.ShopCartVo" id="cartMap">
        <result property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="session_id" column="session_id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="goods_sn" column="goods_sn"/>
        <result property="product_id" column="product_id"/>
        <result property="goods_name" column="goods_name"/>
        <result property="market_price" column="market_price"/>
        <result property="retail_price" column="retail_price"/>
        <result property="retail_product_price" column="retail_product_price"/>
        <result property="number" column="number"/>
        <result property="goods_specifition_name_value" column="goods_specifition_name_value"/>
        <result property="goods_specifition_ids" column="goods_specifition_ids"/>
        <result property="checked" column="checked"/>
        <result property="list_pic_url" column="list_pic_url"/>
        <result property="merchant_id" column="merchant_id"/>
        <result property="extra_price" column="extra_price"/>
    </resultMap>

    <select id="queryObject" resultMap="cartMap">
		select * from t_acme_mall_cart where id = #{value}
	</select>
	
	<select id="queryMrchantGroup" resultMap="cartMap">
		SELECT merchant_id FROM `t_acme_mall_cart` WHERE user_id =#{user_id} and checked=1 GROUP BY merchant_id
	</select>

    <select id="queryList" resultMap="cartMap">
        select a.*,
        b.list_pic_url as list_pic_url,
        c.retail_price as retail_product_price,
        b.extra_price as extra_price
        from t_acme_mall_cart a
        left join t_acme_mall_goods b on a.goods_id = b.id
        left join t_acme_mall_product c on c.goods_id = a.goods_id and c.id = a.product_id
        <where>
            <if test="user_id != null">
                AND a.user_id = #{user_id}
            </if>
            <if test="goods_id != null">
                AND a.goods_id = #{goods_id}
            </if>
            <if test="product_id != null">
                AND a.product_id = #{product_id}
            </if>
            <if test="checked != null">
                AND a.checked = #{checked}
            </if>
            <if test="merchant_id != null">
                AND a.merchant_id = #{merchant_id}
            </if>
<!--            AND a.id in-->
<!--            <foreach item="cartId" collection="cartIds" open="(" separator="," close=")">-->
<!--                #{cartId}-->
<!--            </foreach>-->
        </where>

        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from t_acme_mall_cart a
        <where>
            <if test="user_id != null">
                AND a.user_id = #{user_id}
            </if>
            <if test="goods_id != null">
                AND a.goods_id = #{goods_id}
            </if>
            <if test="product_id != product_id">
                AND a.product_id = #{product_id}
            </if>
            <if test="checked != null">
                AND a.checked = #{checked}
            </if>
        </where>

    </select>

    <insert id="save" parameterType="com.acme.acmemall.model.ShopCartVo" useGeneratedKeys="true" keyProperty="id">
		insert into t_acme_mall_cart
		(
			`user_id`, 
			`session_id`, 
			`goods_id`, 
			`goods_sn`, 
			`product_id`, 
			`goods_name`, 
			`market_price`, 
			`retail_price`, 
			`number`, 
			`goods_specifition_name_value`, 
			`goods_specifition_ids`, 
			`checked`, 
			`list_pic_url`, 
			`merchant_id`
			
		)
		values
		(
			#{user_id}, 
			#{session_id}, 
			#{goods_id}, 
			#{goods_sn}, 
			#{product_id}, 
			#{goods_name}, 
			#{market_price}, 
			#{retail_price}, 
			#{number}, 
			#{goods_specifition_name_value}, 
			#{goods_specifition_ids}, 
			#{checked}, 
			#{list_pic_url}, 
			#{merchant_id}
		)
	</insert>

    <update id="update" parameterType="com.acme.acmemall.model.ShopCartVo">
        update t_acme_mall_cart
        <set>
            <if test="user_id != null">`user_id` = #{user_id},</if>
            <if test="session_id != null">`session_id` = #{session_id},</if>
            <if test="goods_id != null">`goods_id` = #{goods_id},</if>
            <if test="goods_sn != null">`goods_sn` = #{goods_sn},</if>
            <if test="product_id != null">`product_id` = #{product_id},</if>
            <if test="goods_name != null">`goods_name` = #{goods_name},</if>
            <if test="market_price != null">`market_price` = #{market_price},</if>
            <if test="retail_price != null">`retail_price` = #{retail_price},</if>
            <if test="number != null">`number` = #{number},</if>
            <if test="goods_specifition_name_value != null">`goods_specifition_name_value` =
                #{goods_specifition_name_value},
            </if>
            <if test="goods_specifition_ids != null">`goods_specifition_ids` = #{goods_specifition_ids},</if>
            <if test="checked != null">`checked` = #{checked},</if>
            <if test="list_pic_url != null">`list_pic_url` = #{list_pic_url},</if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="cartList" separator="," item="cart">
            update t_acme_mall_cart
            <set>
                <if test="user_id != null">`user_id` = #{cart.user_id},</if>
                <if test="session_id != null">`session_id` = #{cart.session_id},</if>
                <if test="goods_id != null">`goods_id` = #{cart.goods_id},</if>
                <if test="goods_sn != null">`goods_sn` = #{cart.goods_sn},</if>
                <if test="product_id != null">`product_id` = #{cart.product_id},</if>
                <if test="goods_name != null">`goods_name` = #{cart.goods_name},</if>
                <if test="market_price != null">`market_price` = #{cart.market_price},</if>
                <if test="retail_price != null">`retail_price` = #{cart.retail_price},</if>
                <if test="number != null">`number` = #{cart.number},</if>
                <if test="goods_specifition_name_value != null">`goods_specifition_name_value` =
                    #{cart.goods_specifition_name_value},
                </if>
                <if test="goods_specifition_ids != null">`goods_specifition_ids` = #{cart.goods_specifition_ids},</if>
                <if test="checked != null">`checked` = #{cart.checked},</if>
                <if test="list_pic_url != null">`list_pic_url` = #{cart.list_pic_url},</if>
            </set>
            where id = #{cart.id}
        </foreach>
    </update>

    <update id="updateCheck">
        update t_acme_mall_cart
        set `checked` = #{isChecked}
        where product_id in
        <foreach item="product_id" collection="productIds" open="(" separator="," close=")">
            #{product_id}
        </foreach>
        and user_id = #{userId}
    </update>

    <delete id="delete">
		delete from t_acme_mall_cart where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from t_acme_mall_cart where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByProductIds">
        delete from t_acme_mall_cart where product_id in
        <foreach item="id" collection="productIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByUserAndProductIds">
        delete from t_acme_mall_cart where product_id in
        <foreach item="id" collection="productIds" open="(" separator="," close=")">
            #{id}
        </foreach>
          and user_id = #{user_id}
    </delete>

    <delete id="deleteCartByUserId">
        delete from t_acme_mall_cart where user_id = #{user_id}
    </delete>

    <delete id="deleteByCart">
        delete from t_acme_mall_cart
        where  user_id = #{user_id} and  session_id = #{session_id} and  checked = #{checked}
    </delete>

<!--    查询用户已选择的购物车信息-->
    <select id="queryMerCartList" parameterType="java.lang.Long" resultType="com.acme.acmemall.model.MerCartVo">
        SELECT
        c.merchant_id as merchantId,
        '阿可美商城+' as merchantName,
        sum(c.retail_price * c.NUMBER) as orderTotalPrice,
        ifnull(sum(g.extra_price * c.number), 0) as freightPrice
        FROM
        t_acme_mall_cart c
        INNER JOIN t_acme_mall_user s ON s.id = c.user_id
        INNER JOIN t_acme_mall_goods g ON g.id = c.goods_id
        WHERE
        c.user_id = #{user_id}
        and c.checked = 1
        GROUP BY
        c.merchant_id,
        merchantName
    </select>
    <select id="queryCheckedByUserIdAndMerId" parameterType="java.util.Map" resultMap="cartMap">
        select * from t_acme_mall_cart where user_id=#{user_id} and checked = 1 and merchant_id=#{merchantId}
    </select>
    <select id="queryMerchantName" parameterType="java.lang.Long" resultType="java.lang.String">
        select merchant_name from sys_user where merchant_id=#{merchantId}
    </select>
</mapper>