<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acme.acmemall.dao.SpecificationMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.acme.acmemall.model.SpecificationVo" id="specificationMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="enabled" column="enabled"/>
    </resultMap>

    <select id="queryObject" resultMap="specificationMap">
        select * from t_acme_mall_specification where id = #{value}
    </select>

    <select id="queryList" resultMap="specificationMap">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        from t_acme_mall_specification
        <where>
            AND merchant_id = #{merchantId}
            <if test="ids != null">
                and id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from t_acme_mall_specification where merchant_id = #{merchantId}
    </select>

    <insert id="save" parameterType="com.acme.acmemall.model.SpecificationVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_acme_mall_specification` ( `name`, `sort_order`, `merchant_id`) VALUES (#{name}, #{sortOrder},
        #{merchantId});
    </insert>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id" parameterType="list">
        insert into t_acme_mall_specification
        (
        `name`,
        `sort_order`,
        `merchant_id`
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name}, #{item.sortOrder}, #{item.merchantId}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.acme.acmemall.model.SpecificationVo">
        update t_acme_mall_specification
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="enable != null">`enable` = #{enable}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from t_acme_mall_specification where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from t_acme_mall_specification where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>